@using WebApp.Config.Storage
@using WebApp.Models.Storage.Details
@model WebApp.Models.Storage.Details.NfsFileServerOverviewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContext
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext.HttpContext).RequestToken;
    }
}
@{
    ViewBag.Title = Model.Name;
}

@section Breadcrumb
{
<a asp-controller="Storage" asp-action="Index">Storage Repositories</a> &gt;
<a asp-controller="Storage" asp-action="Details" asp-route-repoId="@Model.Name">@Model.Name</a> &gt;
<span>Overview</span>
}

<div class="page-header">
    <h2>@Model.Name - Overview</h2>
    <p></p>
</div>

<div class="storage-details">
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">1</span>
            <div class="step-header">
                <h3>Connection Details</h3>
                <p></p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element">
                    <label asp-for="PrivateIp">IP Address (Private)</label>
                    <input asp-for="PrivateIp" readonly="readonly" />
                </div>
                <div class="form-element">
                    <label asp-for="SubnetPrefix">Address prefix</label>
                    <input asp-for="SubnetPrefix" readonly="readonly" />
                </div>
                <div class="form-element">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" readonly="readonly" />
                </div>
                <div class="form-element">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" readonly="readonly" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">2</span>
            <div class="step-header">
                <h3>File Shares</h3>
                <p>File shares associated with this File Server</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element">
                    @if (Model.FileShares != null)
                    {
                        <table class="file-shares">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var share in Model.FileShares)
                                {
                                    <tr>
                                        <td>@share.Name</td>
                                        <td>@share.Type</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p><b>No file shares have been configured</b></p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">3</span>
            <div class="step-header">
                <h3>VM Power Status</h3>
                <p></p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                @if (Model.VirtualMachineStatus == null || !Model.VirtualMachineStatus.Any())
                {
                    <div class="form-element">
                        <p>No Virtual Machines Found</p>
                    </div>
                }
                else
                {
                    @foreach (var vmStatus in Model.VirtualMachineStatus)
                    {
                        <div>
                            @if (vmStatus.IsRunning())
                            {
                                <span style="color: green"><i class="fa fa-check"></i></span>
                            }
                            else
                            {
                                <span style="color: black"><i class="fa fa-times"></i></span>
                            }
                            <a href="@vmStatus.PortalLink" target="_blank" ref="">@vmStatus.VirtualMachineName (@vmStatus.PowerStatus) <i class="fa fa-external-link"></i></a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="form-section">
        <div class="section-title">
            <span class="step-index">4</span>
            <div class="step-header">
                <h3>Azure Resources</h3>
                <p></p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                @if (Model.EnvironmentName != null)
                {
                    <div class="form-element">
                        <label asp-for="EnvironmentName">Environment Name</label>
                        <a asp-controller="Environments" asp-action="Overview" asp-route-envId="@Model.EnvironmentName">@Model.EnvironmentName</a>
                    </div>
                }
                <div class="form-element">
                    <label asp-for="SubnetName">VNet and Subnet</label>
                    <input  asp-for="SubnetName" value="@Model.SubnetVNetName - @Model.SubnetName (@Model.SubnetPrefix)" readonly="readonly" />
                </div>
                <div class="form-element">
                    <label asp-for="ResourceGroupName">Resource Group</label>
                    <a href="@Model.ResourceGroupUrl" target="_blank">@Model.ResourceGroupName <i class="fa fa-external-link"></i></a>
                </div>
                <div class="form-element">
                    <label asp-for="DeploymentName">Deployment Name</label>
                    <a href="@Model.DeploymentUrl" target="_blank">@Model.DeploymentName <i class="fa fa-external-link"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="form-footer">
        <div class="button-bar">
            @if (Model.IsRunning())
            {
                <a class="button" asp-action="Stop" asp-route-repoId="@Model.Name">Shutdown Server <i class="fa fa-stop"></i></a>
            }
            else
            {
                <a class="button" asp-action="Start" asp-route-repoId="@Model.Name">Start Server <i class="fa fa-play"></i></a>
            }
            <a class="button" asp-action="Delete" asp-route-repoId="@Model.Name">Delete Server <i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>
<p>&nbsp;</p>
