@using System.Linq;
@using WebApp.Models.Reporting;
@model WebApp.Models.Reporting.IndexModel
@{
    ViewBag.Title = "Reporting";
}

@section Breadcrumb
{
    <a asp-controller="Reporting" asp-action="Index">Reporting</a>
}

<script src="~/js/Chart.bundle.min.js" asp-append-version="true"></script>
<script src="~/js/chartjs-plugin-colorschemes.min.js" asp-append-version="true"></script>

<div class="page-header">
    <h1>Reporting</h1>
    <p>Date range: <input type="date" id="fromInput" value="@Model.From.ToString("yyyy-MM-dd")" /> &ndash; <input type="date" id="toInput" value="@Model.To.ToString("yyyy-MM-dd")" /></p>

    <script>
        var fromInput = document.getElementById("fromInput");
        var toInput = document.getElementById("toInput");

        var go = () => document.location.search = "from=" + fromInput.value + "&to=" + toInput.value;

        fromInput.onchange = go;
        toInput.onchange = go;
    </script>

    <p>
        Jump to:
        @if (Model.PreviousMonthLink != null)
        {
            <a href="@Model.PreviousMonthLink">Previous Month</a>
            <span>&bull;</span>
        }

        <a href="@Model.CurrentMonthLink">Current Month</a>

        @if (Model.NextMonthLink != null)
        {
            <span>&bull;</span>
            <a href="@Model.NextMonthLink">Next Month</a>
        }
    </p>

    <h2>Overall Costs</h2>
    @{
        await Html.RenderPartialAsync("Cost/Chart", new { Title = "All Environments", Url = $"/api/reporting/costs?from={Model.From.ToString("yyyy-MM-dd")}&to={Model.To.ToString("yyyy-MM-dd")}" });
    }

    <p></p>
    <h2>Per-environment Costs</h2>
    <p></p>
    @foreach (var env in Model.Environments)
    {
        <p />
        <p />
        await Html.RenderPartialAsync("Cost/Chart", new { Title = env.Name, Url = $"/api/environments/{env.Name}/costs?from={Model.From.ToString("yyyy-MM-dd")}&to={Model.To.ToString("yyyy-MM-dd")}" });
        <p />
        <p />
    }
</div>
