@model WebApp.Models.Storage.Create.AddAvereClusterModel
@{
    ViewBag.Title = "Add Storage Configuration";
}

@section Breadcrumb
    {
    <a asp-controller="Storage" asp-action="Index">Storage Repositories</a> &gt;
    <span>New</span>
}

@await Html.PartialAsync("Storage/Create/CreateFormHeaderPartial")

<form asp-controller="Storage" asp-action="Step2Avere" method="post">
    @await Html.PartialAsync("Menu/StorageSubMenu", Model, new ViewDataDictionary(ViewData)
    {
        { "Step", 2 },
        { "RepoId", Model.RepositoryName }
    })

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RepositoryName)
    @Html.HiddenFor(model => model.RepositoryType)
    @Html.HiddenFor(model => model.SubnetResourceIdLocationAndAddressPrefix)
    @Html.HiddenFor(model => model.SubscriptionId)

    <div asp-validation-summary="ModelOnly" class=""></div>
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">1</span>
            <div class="step-header">
                <h3>Accept Marketplace T's & C's</h3>
                <p>The first time you deploy Avere into a Subscription you'll need to accept the Avere Azure Marketplace Terms & Conditions.</p>
                <p>You can do this from Cloud Shell by navigating to <a href="https://shell.azure.com/powershell" target="_blank">Azure Cloud Shell</a> and paste in the following powershell script.</p>
                <p>Please read the Avere vFXT Terms and Conditions and accept with the final command below.</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element wide">
                    <pre><code>
    Select-AzureRmSubscription -SubscriptionId "@Model.SubscriptionId"<br />

    $terms = Get-AzureRmMarketplaceTerms -Publisher "microsoft-avere" -Product "vfxt" -Name "avere-vfxt-controller"<br />

    (Invoke-WebRequest $terms.LicenseTextLink).RawContent<br />

    $terms | Set-AzureRmMarketplaceTerms -Accept<br />

</code></pre>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">2</span>
            <div class="step-header">
                <h3>Specify Avere Subnet</h3>
                <p>Avere should always be deployed to a dedicated Subnet within the selected VNet.</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element">
                    <div class="form-check">
                        <input id="CreateSubnet" asp-for="CreateSubnet" value="true" type="radio">
                        <label class="form-check-label" for="CreateSubnet">Create new Subnet in the VNet '@Model.SelectedVNetName'</label>
                    </div>
                    <div class="form-check">
                        <input id="UseExistingSubnet" asp-for="CreateSubnet" value="false" type="radio">
                        <label class="form-check-label" for="UseExistingSubnet">Use Existing Subnet</label>
                    </div>
                </div>

                <div id="CreateSubnetSection" hidden="@(Model.CreateSubnet ? "" : "hidden")">

                    <hr class="form-element" />

                    <div class="form-element">
                        <label>Selected VNet: @Model.SelectedVNetName</label>
                    </div>
                    <div class="form-element">
                        <label>VNet Address Space: @Model.VNetAddressSpace</label>
                    </div>
                    <div class="form-element">
                        <label>Existing Subnets</label>
                    </div>
                    <div class="pool-details half">
                        <table>
                            <tr>
                                <th>Subnet</th>
                                <th>Address Prefix</th>
                            </tr>
                            @if (Model.ExistingSubnets != null)
                            {
                                @foreach (var subnet in Model.ExistingSubnets)
                                {
                                    <tr>
                                        <td>@subnet.Name</td>
                                        <td>@subnet.AddressPrefix</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <hr class="form-element" />
                    <div class="form-element">
                        <label asp-for="NewSubnetName">New Subnet Name</label>
                        <input asp-for="NewSubnetName" value="avere-subnet" />
                        <span asp-validation-for="NewSubnetName"></span>
                    </div>
                    <div class="form-element">
                        <label asp-for="NewSubnetAddressPrefix">Subnet Address Prefix</label>
                        <input asp-for="NewSubnetAddressPrefix" />
                        <span asp-validation-for="NewSubnetAddressPrefix"></span>
                        <small>The subnet address prefix must be within the Virtual Network address space and must not overlap with any existing subnets.</small>
                        <small>For example, if your VNet address space is 10.2.0.0/16 and you have a subnet with an address prefix of 10.2.0.0/24 then the next subnet would be 10.2.1.0/24.</small>
                    </div>
                </div>

                    <div id="UseExistingSubnetSection" hidden="@(Model.CreateSubnet ? "hidden" : "")">
                        <div class="form-element">
                            <label asp-for="SelectedSubnetName">Subnet Name</label>
                            <input asp-for="SelectedSubnetName" readonly="readonly" />
                        </div>

                        <div class="form-element">
                            <label asp-for="SelectedSubnetAddressPrefix">Subnet Address Prefix</label>
                            <input asp-for="SelectedSubnetAddressPrefix" readonly="readonly" />
                        </div>

                        <p>*Using an existing, utilized, subnet is not recommended.</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">3</span>
            <div class="step-header">
                <h3>Avere Configuration</h3>
                <p>Set up the details specific to the Avere cluster</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element">
                    <label asp-for="NewResourceGroupName">Resource Group</label>
                    <input asp-for="NewResourceGroupName" />
                    <span asp-validation-for="NewResourceGroupName"></span>
                </div>

                <div class="form-element">
                    <label>Controller Credential</label>
                    <div class="form-check">
                        <input id="UsePassword" asp-for="UseControllerPasswordCredential" value="true" type="radio">
                        <label class="form-check-label" for="UsePassword">Password</label>
                    </div>
                    <div class="form-check">
                        <input id="UseSSHKey" asp-for="UseControllerPasswordCredential" value="false" type="radio">
                        <label class="form-check-label" for="UseSSHKey">SSH Public Key</label>
                    </div>
                    <small>This is the credential used to SSH to the Avere controller node.</small>
                </div>

                <div id="ControllerPasswordSection" hidden="@(Model.UseControllerPasswordCredential ? "" : "hidden")">
                    <div class="form-element">
                        <label asp-for="ControllerPassword">Password</label>
                        <input asp-for="ControllerPassword" type="password" />
                        <span asp-validation-for="ControllerPassword"></span>
                    </div>
                </div>
                <div id="ControllerSSHSection" hidden="@(Model.UseControllerPasswordCredential ? "hidden" : "")">
                    <div class="form-element">
                        <label asp-for="ControllerSshKey">SSH Key</label>
                        <input asp-for="ControllerSshKey" />
                        <span asp-validation-for="ControllerSshKey"></span>
                    </div>
                </div>

                <div class="form-element">
                    <label asp-for="AdminPassword">Management Admin Password</label>
                    <input asp-for="AdminPassword" type="password" />
                    <span asp-validation-for="AdminPassword"></span>
                    <small>This is the password used to log into the Avere admin UI.</small>
                </div>

                <div class="form-element">
                    <label asp-for="NodeCount">Cluster Size (VM Count)</label>
                    <input asp-for="NodeCount" value="3" />
                    <span asp-validation-for="NodeCount"></span>
                </div>

                <div class="form-element">
                    <label asp-for="VMSize">VM Size</label>
                    <select asp-for="VMSize" name="VMSize">
                        <option value="Standard_D16s_v3">Standard_D16s_v3</option>
                        <option value="Standard_E32s_v3" selected>Standard_E32s_v3</option>
                    </select>
                    <span asp-validation-for="VMSize" class=""></span>
                </div>

                <div class="form-element">
                    <label asp-for="CacheSizeInGB">Cache Size</label>
                    <select asp-for="CacheSizeInGB" name="CacheSizeInGB">
                        <option value="1024" selected>1024</option>
                        <option value="4096">4096</option>
                    </select>
                    <span asp-validation-for="CacheSizeInGB" class=""></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div class="summary"></div>
        <div class="button-bar">
            <a class="button" asp-controller="Storage" asp-action="Step1" asp-route-repoId="@Model.RepositoryName">Previous</a>
            <button type="submit">Create <i class="fa fa-save"></i></button>
        </div>
    </div>
    <p>&nbsp;</p>
</form>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $('input[type=radio][name=UseControllerPasswordCredential]').change(function () {
                if ($('#UsePassword').is(':checked')) {
                    $('#ControllerSSHSection').hide();
                    $('#ControllerPasswordSection').show();
                } else {
                    $('#ControllerPasswordSection').hide();
                    $('#ControllerSSHSection').show();
                }
            });

            $('input[type=radio][name=CreateSubnet]').change(function () {
                if ($('#CreateSubnet').is(':checked')) {
                    UseExistingSubnetSection
                    $('#UseExistingSubnetSection').hide();
                    $('#CreateSubnetSection').show();
                } else {
                    $('#CreateSubnetSection').hide();
                    $('#UseExistingSubnetSection').show();
                }
            });

            $('input[type=radio][name=UseControllerPasswordCredential]').change();
            $('input[type=radio][name=CreateSubnet]').change();
        });
    </script>
}
