@model WebApp.Models.Environments.DeleteEnvironmentModel
@{
    ViewBag.Title = "Delete " + @Model.EnvironmentName;
}

@section Breadcrumb 
{
    <a asp-controller="Environments" asp-action="Index">Environments</a> &gt;
    <a asp-controller="Environments" asp-action="Details" asp-route-envId="@Model.EnvironmentName">@Model.EnvironmentName</a> &gt;
    <span>Delete</span>
}

<form method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EnvironmentName)
    @Html.HiddenFor(model => model.SubscriptionId)
    @Html.HiddenFor(model => model.LocationName)
    @Html.HiddenFor(model => model.ResourceGroup)
    @Html.HiddenFor(model => model.BatchAccount)
    @Html.HiddenFor(model => model.StorageAccount)
    @Html.HiddenFor(model => model.ApplicationInsights)
    @Html.HiddenFor(model => model.KeyVault)
    @Html.HiddenFor(model => model.VNet)
    <div class="page-header">
        <h2>Delete Environment</h2>
        <p>
            Warning! Deleting the environment "@Model.EnvironmentName" and any of it's resources is irreversible.
            The action you're about to take can't be undone. Going further will delete any resources you
            select and any children of those resources permanently.
        </p>
        <p>
            When an environment is created, we create a resource group in the specified Azure region that contains
            any other resources we create for you as part of the setup process. This could possibly contain more resources than 
            those which we create; so be careful when you choose to delete the entire resource group that you are not 
            deleting anything you wish to keep.
        </p>
    </div>
    <br/>
    
    @if (Model.HasResourceGroup)
    {
        <h4>As well as deleting the configured environment: "@Model.EnvironmentName", the following can also be deleted:</h4>
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="delete-environment">
            <div id="rgSection" class="section">
                <div class="header">
                    <input id="DeleteResource" asp-for="DeleteResourceGroup" type="radio" value="true"/>
                    <label asp-for="DeleteResourceGroup">Delete the entire Azure resource group '@Model.ResourceGroup'</label>
                </div>
                <div class="resources">
                    <h4>Affected resources</h4>
                    @if (Model.ResourceCount > 0)
                    {
                        <p>There are @Model.ResourceCount resources in this resource group that will also be deleted.</p>
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var resource in Model.Resources)
                            {
                                if (resource.Ignorable)
                                {
                                    // continue;
                                }

                                <tr>
                                    <td class="name">
                                        <div class="image-container">
                                            <div class="icon"><img src="~/images/@(resource.Icon)" width="18" height="18" alt="Azure"/></div>
                                            <span>@(resource.Name)</span>
                                        </div>
                                    </td>
                                    <td class="type">@(resource.TypeDesc)</td>
                                    <td>@(resource.Location)</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else if (Model.ResourceLoadFailed)
                    {
                        <p>The call to list the resources in the resource group failed.</p>
                    }
                    else
                    {
                        <p>There are no other resources in this resource group. Deleting the environment will not affect any other resource in Azure.</p>
                    }
                </div>
            </div>
            <br/>
            <div id="itemsSection" class="section">
                <div class="header">
                    <input id="DeleteItems" asp-for="DeleteResourceGroup" type="radio" value="false"/>
                    <label asp-for="DeleteResourceGroup">Delete individual items from the Environment</label>
                </div>
                <div class="resources">
                    @if (!Model.HasAnyResources)
                    {
                        <p>There are no other resources associated directly with this environment.</p>
                    }
                    else
                    {
                        <p>
                            These are the specific items that were configured during the environment setup process. Only selected items will be deleted.
                            Please note that some of these resources may have already existed outside of the of resource group created for the rendering
                            environment. Take care not to select anything you want to keep.
                        </p>
                    }

                    @if (Model.BatchAccount != null)
                    {
                        <div class="image-container block">
                            <input asp-for="DeleteBatchAccount" type="checkbox" onclick="toggleRadio();" />
                            <div class="icon"><img src="~/images/batch.svg" width="18" height="18" alt="Azure"/></div>
                            <span>@(Model.BatchAccount) <i>(Batch account)</i></span>
                        </div>
                    }
                    @if (Model.StorageAccount != null)
                    {
                        <div class="image-container block">
                            <input asp-for="DeleteStorageAccount" type="checkbox" onclick="toggleRadio();" />
                            <div class="icon"><img src="~/images/storage.svg" width="18" height="18" alt="Azure"/></div>
                            <span>@(Model.StorageAccount) <i>(Storage account)</i></span>
                        </div>
                    }
                    @if (Model.ApplicationInsights != null)
                    {
                        <div class="image-container block">
                            <input asp-for="DeleteAppInsights" type="checkbox" onclick="toggleRadio();" />
                            <div class="icon"><img src="~/images/insights.svg" width="18" height="18" alt="Azure"/></div>
                            <span>@(Model.ApplicationInsights) <i>(Application Insights account)</i></span>
                        </div>
                    }
                    @if (Model.KeyVault != null)
                    {
                        <div class="image-container block">
                            <input asp-for="DeleteKeyVault" type="checkbox" onclick="toggleRadio();" />
                            <div class="icon"><img src="~/images/key.svg" width="18" height="18" alt="Azure"/></div>
                            <span>@(Model.KeyVault) <i>(Key Vault)</i></span>
                        </div>
                    }
                    @if (Model.VNet != null)
                    {
                        <div class="image-container block">
                            <input asp-for="DeleteVNet" type="checkbox" onclick="toggleRadio();" />
                            <div class="icon"><img src="~/images/vnet.svg" width="18" height="18" alt="Azure"/></div>
                            <span>@(Model.VNet) <i>(Virtual network)</i></span>
                        </div>
                    }
                </div>
            </div>
            <div class="form-section">
                <div class="section-wrapper">
                    <div class="section-content">
                        <div class="form-element">
                            <label asp-for="Confirmation">Delete confirmation</label>
                            <input asp-for="Confirmation" Placeholder="Enter the environment name" />
                            <span asp-validation-for="Confirmation" class=""></span>
                            <small>Warning! Deleting the environment "@Model.EnvironmentName" is irreversible. Please enter "@Model.EnvironmentName" to confirm deletion.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="button-bar">
                    <button type="submit">Delete Environment <i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>There is no resource group associated with the environment: "@Model.EnvironmentName".</h4>
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="delete-environment">
            <div class="section">
                <div class="header">
                    <label>This action will delete the partially created environment "@Model.EnvironmentName" only.</label>
                </div>
            </div>
            <div class="form-section">
                <div class="section-wrapper">
                    <div class="section-content">
                        <div class="form-element">
                            <label asp-for="Confirmation">Delete confirmation</label>
                            <input asp-for="Confirmation" Placeholder="Enter the environment name" />
                            <span asp-validation-for="Confirmation" class=""></span>
                            <small>Warning! Deleting the environment "@Model.EnvironmentName" is irreversible. Please enter "@Model.EnvironmentName" to confirm deletion.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="button-bar">
                    <button type="submit">Delete Environment <i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    }
</form>

@section scripts
{
<script>
    function toggleRadio() {
        if ($("#DeleteBatchAccount").is(":checked") ||
            $("#DeleteStorageAccount").is(":checked") ||
            $("#DeleteAppInsights").is(":checked") ||
            $("#DeleteKeyVault").is(":checked") ||
            $("#DeleteVNet").is(":checked")) {

            // if anything is checked then we want to change the radio to items delete
            $("#DeleteItems").prop("checked", true);
        }
    }

    // TODO: Add JS to a shared validation script file that can be minified .... 
    // TODO: Is there an easier way to add these? Can can at least be shared
    $.validator.addMethod("confirm-delete",
        function (value, element, params) {
            return value && value.toLowerCase() === "@Model.EnvironmentName.ToLower()";
        }
    );

    $.validator.unobtrusive.adapters.add("confirm-delete",
        function (options) {
            options.rules["confirm-delete"] = [];
            options.messages["confirm-delete"] = options.message;
        }
    );
</script>
}