@model WebApp.Models.Environments.Details.ViewEnvironmentModel
@{
    ViewBag.Title = Model.EnvironmentName;
}

@section Breadcrumb
    {
    <a asp-controller="Environments" asp-action="Index">Environments</a> &gt;
    <a asp-controller="Environments" asp-action="Details" asp-route-envId="@Model.EnvironmentName">@Model.EnvironmentName</a> &gt;
    <span>Overview</span>
}

<h2>@Model.EnvironmentName - details</h2>
<p>View the details of a pre-configured render farm environment.</p>

@await Html.PartialAsync("Menu/EnvironmentMainMenu", Model, new ViewDataDictionary(ViewData) { { "Step", "env" } })
@await Html.PartialAsync("Menu/EnvironmentSubMenu", Model, new ViewDataDictionary(ViewData)
{
    { "Step", 1 },
    { "Type", "view" }
})

<div class="form-section">
    <div class="section-title">
        <span class="step-index">1</span>
        <div class="step-header">
            <h1>Compute Usage</h1>
            <p></p>
        </div>
    </div>
    <div class="section-wrapper">
        <div class="section-bar"></div>
        <div class="section-content">
            <div id="canvas-container">
                <canvas id="env-usage"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="form-section">
    <div class="section-title">
        <span class="step-index">2</span>
        <div class="step-header">
            <h3>Batch Account Quotas</h3>
            <p>All quotas below can be increased by creating a support ticket in the <a href="https://portal.azure.com/" target="_blank">Azure Portal</a>.  Navigate to the Batch account -> Quotas.</p>
        </div>
    </div>
    <div class="section-wrapper">
        <div class="section-bar"></div>
        <div class="section-content">
            <div class="form-element">
                <label asp-for="BatchDedicatedCoreQuota">Dedicated Core Quota</label>
                <input asp-for="BatchDedicatedCoreQuota" readonly="readonly" />
            </div>
            <div class="form-element">
                <label asp-for="BatchLowPriorityCoreQuota">Low Priority Core Quota</label>
                <input asp-for="BatchLowPriorityCoreQuota" readonly="readonly" />
            </div>
            <div class="form-element">
                <label asp-for="BatchPoolQuota">Pool Quota</label>
                <input asp-for="BatchPoolQuota" readonly="readonly" />
            </div>
        </div>
    </div>
</div>
<div class="form-footer">
    <div class="button-bar">
        <a class="button" asp-controller="Environments" asp-action="Delete" asp-route-envId="@Model.EnvironmentName">Delete Environment <i class="fa fa-trash"></i></a>
    </div>
</div>
<p>&nbsp;</p>

@section Scripts
{
    <script>
        $(document).ready(function() {
            // Show a warning if the sub is locked
            var deleteErrors = '@Model.DeleteErrors';
            if (deleteErrors !== '') {
                toastr.options.timeOut = 0;
                toastr.options.extendedTimeOut = 0;
                toastr.options.closeButton = true;
                toastr.options.positionClass = "toast-top-center";

                var title = 'An error occured deleting the environment';
                var message = '@Model.DeleteErrors';

                toastr.warning(message, title).css("width", "600px");
            }
        });

        window.onload = function () {
            var envName = "@Model.EnvironmentName";
            var poolUsageResults = @Html.Raw(Json.Serialize(Model.PoolUsageResults));
            console.log(poolUsageResults);
            var config = getTimeChartForEnvironment(envName, poolUsageResults);
            var ctx = document.getElementById('env-usage').getContext('2d');
            ctx.canvas.parentNode.style.height = '300px';
            ctx.canvas.parentNode.style.width = '680px';
            window.chart = new Chart(ctx, config);
        };
    </script>
}
