@model WebApp.Models.Environments.EnvironmentUserPermissionsModel
@{
    ViewBag.Title = Model.EnvironmentName;
}

@section Breadcrumb
    {
    <a asp-controller="Environments" asp-action="Index">Environments</a> &gt;
    <a asp-controller="Environments" asp-action="Details" asp-route-envId="@Model.EnvironmentName">@Model.EnvironmentName</a> &gt;
    <span>User Access</span>
}

<h2>@Model.EnvironmentName - user access</h2>
<p>View the users that have permissions to access this environment.</p>

@await Html.PartialAsync("Menu/EnvironmentMainMenu", Model, new ViewDataDictionary(ViewData) { { "Step", "useraccess" } })

<div class="pool-details">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Id</th>
                <th>Permissions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classicAdmin in Model.ClassicAdministrators)
            {
            <tr>
                <td>@classicAdmin.Name</td>
                <td>@classicAdmin.ObjectId</td>
                <td>@classicAdmin.Role</td>
            </tr>
            }
        </tbody>
    </table>
    @if (Model.ClassicAdministrators.Count == 0)
    {
        <p>&nbsp;</p>
        <text><h4>There are no classic administrators.</h4></text>
    }
</div>

<div class="pool-details">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>ObjectId</th>
                <th>Permissions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userPermission in Model.UserPermissions)
            {
            <tr>
                <td>@userPermission.Email</td>
                <td>@userPermission.ObjectId</td>
                <td>@userPermission.Role</td>
            </tr>
            }
        </tbody>
    </table>
    @if (Model.UserPermissions.Count == 0)
    {
        <p>&nbsp;</p>
        <text><h4>There are no users with permissions to this environment.</h4></text>
    }
</div>

<form method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EnvironmentName)
    <div asp-validation-summary="ModelOnly" class=""></div>



    <div class="form-section">
        <div class="section-title">
            <span class="step-index">1</span>
            <div class="step-header">
                <h3>Add User</h3>
                <p>Assign permissions to a user for this environment.</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element">
                    <label asp-for="EmailAddress">Email</label>
                    <input asp-for="EmailAddress" />
                    <span asp-validation-for="EmailAddress" class=""></span>
                </div>
                <div class="form-element">
                    <label asp-for="UserRole">Role</label>
                    <select asp-for="UserRole" name="UserRole">
                        <option value="Reader" selected>Reader</option>
                        <option value="PoolManager">Pool Manager</option>
                        <option value="Owner">Owner</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div class="button-bar">
            <button id="next" type="submit" formaction="UserAccess">Add New User <i class="fa fa-plus"></i></button>
        </div>
    </div>
</form>
<p>&nbsp;</p>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var error = '@Model.Error';
            if (error !== '')
            {
                toastr.options.timeOut = 0;
                toastr.options.extendedTimeOut = 0;
                toastr.options.closeButton = true;
                toastr.options.positionClass = "toast-top-center";

                var msg = '@Model.ErrorMessage';
                toastr.warning(msg, error).css("width", "600px");

                $('#next').attr('disabled', true);
            }
        });
    </script>
}