@using System.Linq;
@using WebApp.Models.Reporting;
@model WebApp.Models.Reporting.IndexModel
@{
    ViewBag.Title = "Reporting";
}

@section Breadcrumb
{
    <a asp-controller="Reporting" asp-action="Index">Reporting</a>
}

<script src="~/js/Chart.bundle.min.js" asp-append-version="true"></script>
<script src="~/js/chartjs-plugin-colorschemes.min.js" asp-append-version="true"></script>

<div class="page-header">
    <h1>Reporting</h1>
    <p>Date range: <input type="date" id="fromInput" value="@Model.From.ToString("yyyy-MM-dd")"/> &ndash; <input type="date" id="toInput" value="@Model.To.ToString("yyyy-MM-dd")"/></p>

    <script>
        var fromInput = document.getElementById("fromInput");
        var toInput = document.getElementById("toInput");

        var go = () => document.location.search = "from=" + fromInput.value + "&to=" + toInput.value;

        fromInput.onchange = go;
        toInput.onchange = go;
    </script>

    <p>
        Jump to:
        @if (Model.PreviousMonthLink != null)
        {
            <a href="@Model.PreviousMonthLink">Previous Month</a>
            <span>&bull;</span>
        }

        <a href="@Model.CurrentMonthLink">Current Month</a>

        @if (Model.NextMonthLink != null)
        {
            <span>&bull;</span>
            <a href="@Model.NextMonthLink">Next Month</a>
        }
    </p>

    @if(Model.SummaryUsage != null)
    {
        await Html.RenderPartialAsync("Cost/Chart", new EnvironmentCost("Total Costs", Model.SummaryUsage));
    }

    @foreach (var envUsage in Model.UsagePerEnvironment)
    {
        await Html.RenderPartialAsync("Cost/Chart", envUsage);
    }
</div>
